@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: var(--color-background);
    }
}

@theme {
    --color-background: #F2ECE7;
    --color-primary: #1A274B;
    --color-secondary: #A94D0F;
}
